body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3efef;
    color: #333;
    line-height: 1.6;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

section {
    padding: 60px 20px;
}


.hero {
    background: linear-gradient(135deg, #4f7aff, #6cd4ff);
    color: white;
    padding: 20px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}


.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    background: #f6f2f2;
    color: #333;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background: #ccc;
}

.primary-btn {
    background: #ff8c42;
    color: white;
}

.primary-btn:hover {
    background: #ff7a24;
}




.feature-grid {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    
}

h2 {
    text-align: center;
    font-size: 40px;
     font-family: "Arial", sans-serif;
}

.feature-card {
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}


.pricing-grid {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.plan {
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.plan ul {
    padding: 0;
    list-style: outside;
    margin: 20px 133px;
}

.plan .price {
    font-size: 2rem;
    margin-bottom: 10px;
}

.popular {
    border: 2px solid #ff8c42;
}


.testimonials-grid {
    margin-top: 30px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.testimonial {
    background: lightgray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-style: italic;
}

.testimonial span {
    display: block;
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
}